<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5><i class="fas fa-parking me-2"></i>ParkingSystem</h5>
                <p class="mb-0">Smart parking management solutions for modern businesses.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">&copy; 2024 Parking Management System. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>